.rdp-root {
  --rdp-accent-color: rgb(var(--primary-brand));
  --rdp-day_button-border-radius: 0.25rem;
  --rdp-day-height: 2.25rem;
  --rdp-day-width: 2.25rem;
  --rdp-day_button-height: 2.125rem;
  --rdp-day_button-width: 2.125rem;
  --rdp-nav_button-height: 1.5rem;
  --rdp-nav_button-width: 1.5rem;
  --rdp-range_start-background: rgb(var(--primary-brand));
  --rdp-range_end-background: rgb(var(--primary-brand));
  --rdp-range_middle-background-color: rgb(var(--primary-brand-light));
  --rdp-range_middle-color: rgb(var(--primary-text));
}

.rdp-button_next,
.rdp-button_previous {
  border: 1px solid rgb(var(--primary-border));
  color: rgb(var(--primary-text));
  border-radius: 0.25rem;
  padding: 0.25rem;
}
