.dark {
  color-scheme: dark;

  /* ----------- Text colors ----------- */

  --primary-text: 255 255 255; /* #ffffff */
  --primary-text-hover: 232 234 237; /* #e8e8ed */

  --secondary-text: 162 162 169; /* #73737c */
  --secondary-text-hover: 232 234 237; /* #e8eaed */

  --tertiary-text: 96 96 103; /* #5b5b6b */
  --tertiary-text-hover: 101 101 18; /* #656576 */

  --error-text: 239 68 68; /* #ef4444 */
  --error-text-hover: 239 68 68; /* #ef4444 */

  --success-text: 5 150 105; /* #059669 */
  --success-text-hover: 4 120 87; /* #047867 */

  --warning-text: 217 119 6; /* #d97706 */
  --warning-text-hover: 217 119 6; /* #d97706 */

  /* ----------- Background colors ----------- */

  --primary-bg: 18 22 35; /* #121623 */
  --primary-bg-hover: 25 33 51; /* #192133 */

  --secondary-bg: 30 39 61; /* #1E273D */
  --secondary-bg-hover: 36 46 72; /* #242E48 */

  --tertiary-bg: 44 58 90; /* #2C3A5A */
  --tertiary-bg-hover: 36 48 76; /* #24304C */

  --error-bg-light: 39 22 26; /* #17161a */
  --error-bg-light-hover: 55 31 37; /* #371f25 */

  --error-bg: 54 13 7; /* #360d07 */
  --error-bg-hover: 54 13 7; /* #360d07 */

  --error-bg-dark: 239 68 68; /* #ef4444 */
  --error-bg-dark-hover: 203 50 50; /* #cb3232 */

  --success-bg-light: 22 41 35; /* #162923 */
  --success-bg-light-hover: 27 50 43; /* #1b322b */

  --success-bg: 34 62 49; /* #223e31 */
  --success-bg-hover: 40 72 57; /* #284839 */

  --success-bg-dark: 16 185 129; /* #10b981 */
  --success-bg-dark-hover: 14 164 115; /* #0EA473*/

  --warning-bg-light: 48 34 18; /* #302212 */
  --warning-bg-light-hover: 48 34 18; /* #302212 */

  --warning-bg: 78 55 29; /* #4e371d */
  --warning-bg-hover: 78 55 29; /* #4e371d */

  --warning-bg-dark: 251 146 60; /* #fb923c */
  --warning-bg-dark-hover: 251 146 60; /* #fb923c */

  /* ----------- Border colors ----------- */

  --primary-border: 115 115 124; /* #73737c */
  --primary-border-hover: 115 115 124; /* #73737c */

  --secondary-border: 64 64 69; /* #404045 */
  --secondary-border-hover: 64 64 69; /* #404045 */

  --tertiary-border: 44 44 44; /* #2c2c2c */
  --tertiary-border-hover: 51 51 51; /* #333333 */

  --error-border: 239 68 68; /* #ef4444 */
  --error-border-hover: 203 50 50; /* #cb3232 */

  --error-border-light: 54 13 7; /* #360D07 */
  --error-border-light-hover: 54 13 7; /* #360D07 */

  --success-border: 16 185 129; /* #10b981 */
  --success-border-hover: 16 185 129; /* #10b981 */

  --success-border-light: 34 62 49; /* #223E31 */
  --success-border-light-hover: 34 62 49; /* #223E31 */

  --success-border-medium: 34 62 49; /* #10b981 */

  --warning-border: 251 146 60; /* #fb923c */
  --warning-border-hover: 251 146 60; /* #fb923c */

  --warning-border-light: 78 55 29; /* #4E371D */
  --warning-border-light-hover: 78 55 29; /* #4E371D */

  /* ----------- Brand colors ----------- */

  --primary-brand: 47 101 245; /* #2F65F5 */
  --primary-brand-hover: 36 77 206; /* #244DCE */

  --primary-brand-medium: 103 144 229; /* #6790E5 */
  --primary-brand-medium-hover: 89 127 212; /* #597FD4 */

  --primary-brand-light: 52 75 126; /* #344B7E */
  --primary-brand-light-hover: 41 61 102; /* #293D66 */

  --secondary-brand: 255 218 215; /* #FFDAD7 */
  --secondary-brand-hover: 243 195 192; /* #F3C3C0 */

  --secondary-brand-light: 164 120 117; /* #A47875 */
  --secondary-brand-light-hover: 137 96 94; /* #89605E */

  /* ----------- Common colors ----------- */
  --grey: 90 90 90; /* #5a5a5a */
  --amber-light: 43 38 15; /* #2b260f */
  --red-light: 52 18 22; /* #341216 */
  /* ----------- Shadow colors ----------- */
  --shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.72),
    0px 1px 3px 0px rgba(0, 0, 0, 0.36);

  --shadow-2: 0px 2px 4px 0px rgba(0, 0, 0, 0.21),
    0px 3px 6px 0px rgba(0, 0, 0, 0.3);

  --shadow-3: 0px 3px 6px 0px rgba(0, 0, 0, 0.3),
    0px 10px 20px 0px rgba(0, 0, 0, 0.45);

  --shadow-4: 0px 5px 10px 0px rgba(0, 0, 0, 0.15),
    0px 15px 25px 0px rgba(0, 0, 0, 0.45);

  --shadow-5: 0px 20px 40px 0px rgba(0, 0, 0, 0.6);

  --shadow-2-light: 0px 2px 4px 0px rgba(0, 0, 0, 0.12),
    0px 3px 6px 0px rgba(0, 0, 0, 0.15);

  --shadow-3-light: 0px 3px 6px 0px rgba(0, 0, 0, 0.21),
    0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
